.input-field-one-main-cont, .pw-input-field-main-cont {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px 20px;
    min-width: 350px;
}

.input-field-one-label, .pw-input-field-main-cont {
    font-size: 18px;
}

.input-field-one-input, .pw-input-field-input {
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
}

.input-field-one-error-message, .pw-input-field-error-message {
    color: red;
}

/* Button one */
.button-one-but {
    width: 100px;
    height:50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}