@font-face {
   font-family: 'DubaiRegular';
   src: url('../assets/fonts/dubai_regular.ttf');
   font-weight: 300;
}

$top-nav-height: 50px;
$home-section-height: 600px;
$scroll-section-height: 600px;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   z-index: 0;
   transition: all 0.5s ease;
}

body {
   width: 100vw;
   margin: 0;
   padding: 0;
   height: 0;
}

#app {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   overflow: hidden;
}

/* Section Header */
.section-header_cont {
   background-color: black;
   background-image: radial-gradient(
      at bottom right,
      rgb(28, 28, 28),
      rgb(24, 24, 24),
      black
   );
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 12px 20px;

   #section-header_icon_title_cont {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
   }

   img {
      height: 25px;
      filter: contrast(1.5);
      filter: brightness(1.2);
   }

   h2 {
      color: rgb(214, 214, 214);
      font-family: 'DubaiRegular';
      letter-spacing: 1px;
   }

   p {
      color: rgb(168, 168, 168);
      font-family: 'DubaiRegular';
      word-spacing: 2px;
      line-height: 22px;
      text-align: center;
   }
}

/* Top nav menu */
.top-nav-cont {
   position: absolute;
   z-index: 3;
   height: 3000px;
   width: 100vw;
   flex-direction: row;
   justify-content: center;

   .top-nav-menu {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: flex;
      width: 100vw;
      flex-direction: column;
      align-items: center;
      background-color: rgba(32, 32, 32, 0.95);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      padding: 10px;
      transition: all 0.2s ease;

      #nav-dock-cont {
         display: flex;
         flex-direction: column;
         justify-content: left;
         align-items: center;
         width: 100%;
         padding-left: 10px;

         #nav-but-title-cont {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;

            #top-nav_but {
            }

            h2 {
               text-align: left;
               display: inline;
               font-size: 20px;
               letter-spacing: 2px;
            }
         }

         p {
            color: rgb(131, 131, 131);
            font-size: 12.5px;
            text-align: center;
         }
      }

      #title-text-cont {
         display: flex;
         flex-direction: column;
         justify-content: left;
      }

      #nav-menu-cont {
         width: 100%;

         .menu-item {
            position: relative;
            padding: 10px;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            animation-name: on-active;
            animation-duration: 0.7s;
            color: white;
            padding-left: 30px;

            @keyframes on-active {
               0% {
                  top: -100px;
                  opacity: 0;
               }

               50% {
                  top: 0px;
               }

               100% {
                  opacity: 1;
                  top: 0px;
               }
            }

            img {
               background-color: blue;
               height: 70px;
               width: 70px;
               aspect-ratio: 1;
            }

            hr {
               border: 0.5px solid rgba(255, 255, 255, 0.2);
            }

            #menu-item-img-title-cont {
               display: flex;
               flex-direction: row;
               justify-content: left;
               gap: 20px;
            }

            #menu-item-title-cont {
               display: flex;
               flex-direction: column;
               justify-content: center;
               gap: 10px;
            }
         }
      }

      #title-text {
         color: rgb(205, 205, 205);
         font-size: 25px;
         font-family: 'DubaiRegular';
         text-align: center;
      }

      #top-nav_but_img {
         width: 100%;
      }
   }
}

.main-body {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

/* Image Slider */
.image-slider_cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;

   #image-slider_image-frame {
      height: 250px;
   }

   #image-slider_img {
      height: 100%;
   }

   #default-dot-selection_unselected {
      height: 8px;
      width: 8px;
      background-color: rgb(193, 193, 193);
      border-radius: 50%;
   }

   #image-slider_selector-cont {
      display: flex;
      flex-direction: row;
      gap: 20px;
   }
}

/* Scroll down button */
.scrolldown-but_cont {
   display: flex;
   flex-direction: column;
   align-items: center;

   #scrolldown-but_arrow {
      background-color: black;
      height: 30px;
      width: 30px;
   }
}

/* Home Section */
.home-section_cont {
   position: relative;
   left: -150px;
   top: -100px;
   height: 100vh;
   width: 100vw;
   rotate: 45deg;
   overflow-y: visible;

   img {
      scale: 1.3;
   }
   

   #slider-effect-cont {
      position: absolute;
      top: 0;
      left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
      overflow: hidden;
      scale: 1.3;

      .slider-element-cont:nth-child(even) {
         div {
            animation-direction: reverse !important;
         }
      }

      .slider-element-cont {
         #slider-img {
            height: calc(217px * 0.3);
            width: calc(2142px * 0.3);
            background-size: 980px;
            background-position: center;
            animation: moduleSlider 3000s linear infinite;
         }

         @keyframes moduleSlider {
            0% {
               background-position-x: 0;
            }

            100% {
               background-position-x: 8000%;
            }
         }
      }
   }
}

/* Scroll Anim Section */
.scroll-anim-section {
   background-color: rgb(220, 29, 29);
   height: 2000px;
   width: 100vw;

   #sequence-images-cont {
      position: sticky;
      top: 0;

      img {
         width: 100%;
      }
   }


}

/* Module Section */
.module-section {
   background-color: blue;
   width: 100vw;
   height: 750px;
}

/* Software Section */
.software-section {
   background-color: green;
   width: 100vw;
   height: 750px;
}
