@font-face {
   font-family: 'DubaiRegular';
   src: url('../assets/fonts/dubai_regular.ttf');
   font-weight: 300;
}

$top-nav-height: 50px;
$home-section-height: 600px;
$scroll-section-height: 600px;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.5s ease;
}

body {
   width: 100vw;
   margin: 0;
   padding: 0;
   height: 0;
}

#app {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Section Header */
.section-header_cont {
   background-color: black;
   background-image: radial-gradient(
      at bottom right,
      rgb(28, 28, 28),
      rgb(24, 24, 24),
      black
   );
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 12px 20px;

   #section-header_icon_title_cont {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
   }

   img {
      height: 25px;
      filter: contrast(1.5);
      filter: brightness(1.2);
   }

   h2 {
      color: rgb(214, 214, 214);
      font-family: 'DubaiRegular';
      letter-spacing: 1px;
   }

   p {
      color: rgb(168, 168, 168);
      font-family: 'DubaiRegular';
      word-spacing: 2px;
      line-height: 22px;
      text-align: center;
   }
}

/* Top nav menu */
.top-nav-menu {
   position: sticky;
   top: 0;
   display: flex;
   width: 100vw;
   flex-direction: column;
   align-items: center;
   background-color: rgba(32, 32, 32, 0.95);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   padding: 10px;
   transition: all 0.2s ease;
   z-index: 1;

   #nav-dock-cont {
      display: flex;
      flex-direction: column;
      justify-content: left;
      width: 100%;
      padding-left: 10px;

      #nav-but-title-cont {
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 10px;
         justify-content: space-between;

         h2 {
            text-align: left;
            font-size: 16px;
            letter-spacing: 2px;
            color: rgb(207, 207, 207);
         }
      }

      p {
         color: rgb(131, 131, 131);
         font-size: 12.5px;
         text-align: center;
      }
   }

   #title-text-cont {
      display: flex;
      flex-direction: column;
      justify-content: left;
   }

   #nav-menu-cont {
      width: 100%;

      .menu-item {
         position: relative;
         padding: 10px;
         width: 100%;
         flex-direction: column;
         justify-content: center;
         gap: 20px;
         animation-name: on-active;
         animation-duration: 0.7s;
         color: white;
         padding-left: 30px;

         @keyframes on-active {
            0% {
               top: -100px;
               opacity: 0;
            }

            50% {
               top: 0px;
            }

            100% {
               opacity: 1;
               top: 0px;
            }
         }

         img {
            background-color: blue;
            height: 70px;
            width: 70px;
            aspect-ratio: 1;
         }

         hr {
            border: 0.5px solid rgba(255, 255, 255, 0.2);
         }

         #menu-item-img-title-cont {
            display: flex;
            flex-direction: row;
            justify-content: left;
            gap: 20px;
         }

         #menu-item-title-cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
         }
      }

      #title-text {
         color: rgb(205, 205, 205);
         font-size: 25px;
         font-family: 'DubaiRegular';
         text-align: center;
      }

      #top-nav_but_img {
         width: 100%;
      }
   }
}

/* Image Slider */
.image-slider_cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;

   #image-slider_image-frame {
      height: 250px;
   }

   #image-slider_img {
      height: 100%;
   }

   #default-dot-selection_unselected {
      height: 8px;
      width: 8px;
      background-color: rgb(193, 193, 193);
      border-radius: 50%;
   }

   #image-slider_selector-cont {
      display: flex;
      flex-direction: row;
      gap: 20px;
   }
}

/* Scroll down button */
.scrolldown-but_cont {
   display: flex;
   flex-direction: column;
   align-items: center;

   #scrolldown-but_arrow {
      background-color: black;
      height: 30px;
      width: 30px;
   }
}

/* Home Section */
.home-section-cont {
   overflow: hidden;
   min-height: 100vh;
   
   .rotators-cont {
      position: relative;
      left: -150px;
      top: -100px;
      height: 100vh;
      width: 100vw;
      rotate: 45deg;

      img {
         scale: 1.3;
      }

      #slider-effect-cont {
         position: absolute;
         top: 0;
         left: 100px;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         height: 100vh;
         overflow: hidden;
         scale: 1.3;

         .slider-element-cont:nth-child(even) {
            div {
               animation-direction: reverse !important;
            }
         }

         .slider-element-cont {
            #slider-img {
               height: calc(217px * 0.3);
               width: calc(2142px * 0.3);
               background-size: 980px;
               background-position: center;
               animation: moduleSlider 3000s linear infinite;
            }

            @keyframes moduleSlider {
               0% {
                  background-position-x: 0;
               }

               100% {
                  background-position-x: 8000%;
               }
            }
         }
      }
   }

   #home-section-macroboard-title-cont {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      position: absolute;
      top: 320px;
      left: 50px;
      font-size: 20px;

      p {
         font-size: 18px;
      }
   }
}

/* Scroll Anim Section */
.scroll-anim-section {
   width: 100vw;
   top: $top-nav-height;
   height: 2000px;
   background-color: black;

   
   h2 {
      text-align: center;
      position: relative;
      top: 50px;
      color: white
   }

   .slider-img-cont {
      display: flex;
      flex-direction: row;
      overflow: auto;
      width: 100vw;
      pointer-events: auto;
      scroll-snap-type: x mandatory;

      #img-cont {
         width: 100vw;
         scroll-snap-align: center;
      }
   }

   .pagination-cont {
      display: flex;
      flex-direction: row;
      width: 100vw;
      justify-content: center;
      gap: 20px;
      position: relative;
      top: -90px;

      > div {
         border-radius: 50%;
         height: 10px;
         width: 10px;
         transition: none;
      }
   }

   p {
      text-align: center;
      position: relative;
      bottom: 50px;
      color: white;
   }

   .icon-detail-cont {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(3, auto);
      gap: 20px;
      background-color: black;

      .icon-detail {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 15px;

         img {
            height: 100px;
            width: 100px;
         }

         > p {
            text-align: center;
            position: static;
         }
      }
   }
}

/* Module Section */
#module-section {
   width: 100vw;
   min-height: 100vh;
   background-color: white;
   padding-top: 200px;

   #module-section-page-title-cont {
      font-size: 30px;
      padding: 10px 5px;
      text-align: center;
      background-color: white;
   }

   #pagination-icon-cont {
      height: 160px;
      display: flex;
      padding: 0 10px;
      align-items: center;
      gap: 10px;
      overflow-y: hidden;

      .module-section-pagination-icon-cont {
         display: flex;
         flex-direction: column;
         align-items: center;
         height: 80px;
         width: 80px;
         position: relative;

         #pagination-selected-indicator {
            position: absolute;
            height: 100%;
            width: 85%;
            z-index: -1;
            background: linear-gradient(rgba(0,0,100,0.1), transparent);
            border: solid 2px white;
            border-radius: 10px;
            box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
         }

         > img {
            height: 100%;
         }

         #pagination-icon-title {
            font-size: 13px;
            text-align: center;
         }
      }
   }

   #display-image-cont {
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
         height: 340px;
      }
   }

   #title-and-text-cont {
      height: 200px;
      padding: 18px;

      .title {
         font-size: 30px;
         margin-bottom: 10px;
      }

      .subtext {
      }
   }
}

/* Software Section */
.software-section {
   width: 100vw;
   min-height: 100vh;
   background-color: white;
   padding: 40px 10px 40px 10px;
   display: flex;
   flex-direction: column;
   gap: 30px;

   #software-section-header {
      display: flex;
      flex-direction: column;
      gap: 30px;

      #software-section-title {
         font-size: 30px;
         text-align: center;
      }

      #software-section-title-subtext {

      }
   }

   #software-section-features-cont {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .software-feature-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
      
            #software-feature-title {
               width: 100%;
               font-size: 25px;
      
            }
      
            #software-feature-display-img {
               width: 100%;
            }
      
            #software-feature-subtext {}
         }
   }
}
