@font-face {
   font-family: 'DubaiRegular';
   src: url('../assets/fonts/dubai_regular.ttf');
   font-weight: 300;
}

$top-nav-height: 50px;
$home-section-height: 600px;
$scroll-section-height: 600px;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   z-index: 0;
}

body {
   width: 100vw;
   margin: 0;
   padding: 0;
   height: 100vh;
}

#app {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: auto;
}

/* Section Header */
.section-header_cont {
   background-color: black;
   background-image: radial-gradient(
      at bottom right,
      rgb(28, 28, 28),
      rgb(24, 24, 24),
      black
   );
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 12px 20px;

   #section-header_icon_title_cont {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
   }

   img {
      height: 25px;
      filter: contrast(1.5);
      filter: brightness(1.2);
   }

   h2 {
      color: rgb(214, 214, 214);
      font-family: 'DubaiRegular';
      letter-spacing: 1px;
   }

   p {
      color: rgb(168, 168, 168);
      font-family: 'DubaiRegular';
      word-spacing: 2px;
      line-height: 22px;
      text-align: center;
   }
}

/* Top nav menu */
.top-nav-cont {
   position: absolute;
   z-index: 3;
   height: 3000px;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: center;
   top: 0;

   .top-nav-menu {
      position: sticky;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(32, 32, 32);
      padding: 10px;
      transition: all 0.2s ease;

      #nav-dock-cont {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         width: 100%;
      }

      #nav-menu-cont {
         width: 100%;

         .menu-item {
            position: relative;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            animation-name: on-active;
            animation-duration: 0.5s;
            color: white;
            padding-left: 30px;

            @keyframes on-active {
               0% {
                  left: -100px;
                  opacity: 0;
               }

               100% {
                  opacity: 1;
                  left: 0px;
               }
            }
      
            img {
               background-color: blue;
               height: 70px;
               width: 70px;
               aspect-ratio: 1;
            }

            hr {
               border: 0.5px solid rgba(255, 255, 255, 0.2);
            }

            #menu-item-img-title-cont {
               display: flex;
               flex-direction: row;
               justify-content: left;
               gap: 20px;
            }
      
            #menu-item-title-cont {
               display: flex;
               flex-direction: column;
               justify-content: center;
               gap: 10px;
            }
         }
      }

      #top-nav_but {
         width: 50px;
         height: 50px;
         background-color: rgba(0, 0, 0, 0);
         border: none;
         rotate: 225deg;
         pointer-events: all;
      }

      #title-text {
         color: rgb(205, 205, 205);
         font-size: 25px;
         font-family: 'DubaiRegular';
         text-align: center;
      }

      #top-nav_but_img {
         width: 45%;
      }
   }
}



.main-body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 3000px;
}

/* Image Slider */
.image-slider_cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;

   #image-slider_image-frame {
      height: 250px;
   }

   #image-slider_img {
      height: 100%;
   }

   #default-dot-selection_unselected {
      height: 8px;
      width: 8px;
      background-color: rgb(193, 193, 193);
      border-radius: 50%;
   }

   #image-slider_selector-cont {
      display: flex;
      flex-direction: row;
      gap: 20px;
   }
}

/* Scroll down button */
.scrolldown-but_cont {
   display: flex;
   flex-direction: column;
   align-items: center;

   #scrolldown-but_arrow {
      background-color: black;
      height: 30px;
      width: 30px;
   }
}

/* Home Section */
.home-section_cont {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   height: 800px;
   padding: 10px 10px;
   width: 100%;

   #home-section_img {
      width: 700px;
      left: 100px;
      z-index: 0;
   }

   #title-icon_cont {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 0 40px;
   }

   #title-icon {
      width: 20px;
      aspect-ratio: 1;
      rotate: 225deg;
      opacity: 0.8;
   }

   #title-text_cont {
      background-color: rgb(32, 32, 32);
      border-radius: 15px;
      padding: 10px;

      p {
         color: rgb(186, 186, 186);
         font-family: 'DubaiRegular';
         text-align: center;
         line-height: 18px;
      }
   }
}

/* Scroll Anim Section */
.scroll-anim-section {
   background-color: rgb(220, 29, 29);
   height: 2000px;
   width: 100vw;
}

/* Module Section */
.module-section {
   background-color: blue;
   width: 100vw;
   height: 750px;
}

/* Software Section */
.software-section {
   background-color: green;
   width: 100vw;
   height: 750px;
}
